:root {
    --geel: #F2C76E;
    --licht: #eaf4f4;
    --groen: #6b9080;
    --donkergroen: #415e50;
    --rood: #d7594d;
    --paars: #ab92b9;
    --achtergrond: #f8f8f8;
    --oranje: #f5b06f;
}

body {
    font-family: "Roboto";
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu";
    color: var(--donkergroen);
    font-weight: 400;
}

.groot {
    font-size: 4rem;
    line-height: 3.6rem;
}

.heelgroot {
    font-size: 8rem;
    line-height: 6rem;
}

.rechts {
    text-align: right;
    width: 100%;
}

.links {
    text-align: left;
    width: 100%;
}

.center {
    text-align: center;
}


.w50 {
    width: 50%;
}

.h75 {
    height: 75vh;
}

.p1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.p2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.p4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.m1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.m2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.m4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.fullsize {
    width: 100vw;
    height: 100vh;
}

.fullwidth {
    width: 100%;
    height: auto;
}

.fullheight {
    width: auto;
    height: 100%;
}

.fit {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.rel {
    position: relative;
}

.font-bold {
    font-weight: bold;
}

/* gridstuff */
/* normale 2 colum grid */

.grid1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

/* 2 colum grid, bij klein boven, bij groot naast elkaar */
.grid2r {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
}

/* gap */
.g1 {
    gap: 1rem;
}

/* centreren alles in grid */
.vertcenter {
    place-items: center;
}


.border {
    border: 1px solid red;
}

.bgrood {
    background-color: red;
}




@media (min-width: 991px) {
    .grid2r {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }